
<ion-view view-title="Theories et pratiques">
  <ion-content>
    <!-- {{chapter.title}} -->
    <div class="item item-divider">
      Theories
    </div>
    <ion-item ng-repeat="theory in theories" ui-sref="app.course.chapter.theory({theoryId: theory.theory.id})">
      {{theory.theory.title}}
    </ion-item>
    <div class="item item-divider">
      Pratiques
    </div>
    <ion-item ng-repeat="practice in practices" ui-sref="app.course.chapter.practice({practiceId: practice.practice.id})">
      {{practice.practice.title}}
    </ion-item>
  </ion-content>
</ion-view>
