<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <form ng-submit="submitLogin(loginForm)">

      <div class="list">
        <div class="item item-input">
          <label class="input-label">email</label>
          <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
        </div>
        <div class="item item-input">
          <label class="input-label">password</label>
          <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
        </div>
        <button type="submit" class="button button-block button-positive">Sign in</button>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
