
<ion-view view-title="Liste des Medias">
  <ion-content>
    <ion-item class="item item-divider">
    {{theory.title}}
    </ion-item>
    <ion-item  class="item item-thumbnail-left" ng-repeat="media in medias" ui-sref="app.course.chapter.theory.media({mediaId: media.id})">
    <img ng-if="media.picture.url" ng-src="https://yogic-sadhana.com{{media.picture.url}}" alt=""/>
    <img ng-if="!media.picture.url" ng-src="https://yogic-sadhana.com/uploads/medium/picture/130/padmasana.jpg" alt=""/>
      <h2 class="header-h2"> {{media.title | limitTo:25}} </h2>
      <p>{{media.description}}</p>
      <div class=" item-button-right">
        <button class="button">
          <i ng-if="media.audio.url" class="icon ion-volume-medium"></i>
          <i ng-if="media.video.url" class="icon ion-videocamera"></i>
        </button>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
