/* Empty. Add your own CSS if you like */


a:hover{
  text-decoration: none !important;
  color: inherit;
}

.sri_yantra{
  width: 96px;
  margin: 0 auto 10px;
  display: block;
}

.sign-in-content{
  /*background: rgb(250, 250, 250);*/
}

/*
.yin_yang{
  width: 72px;
  margin: 0 auto 10px;
  display: block;
}
*/

.sign-in-header{
  text-align: center;
}

.glyph{
  padding-right: 15px;
}

.login-title{
  text-align: center !important;
}

h2.header-h2{
  margin-top: 1em;
}

.media-picture{
  max-height: 150px !important:
  max-width: 150px !important;
}

.button-balanced-media{
  color: white;
  background-color: #4394AB;
  border-color: #296A7C;
  letter-spacing: 0.15em;
}

.img-thumbnail-io{
  display: inline-block;
  max-width: 300px;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.profile-img {
  width: 118px;
  height: 118px;
  margin: 0 auto 10px;
  display: block;
  /* width: 96px; */
  /* height: 96px; */
  /* margin: 0 auto 10px; */
  /* display: block; */
  /* -moz-border-radius: 50%; */
  /* -webkit-border-radius: 50%; */
  /* border-radius: 50%; */
}

.sign-in-image{
  margin-top: 3em;
}

.sign-in-button{
  margin-top: 2em !important;
}

.sign-in-list{
  margin-top: 2em !important;
  /*background: rgb(250, 250, 250);*/
}
